In [316]:
import pandas as pd
%matplotlib inline
import seaborn as sn
import matplotlib.pyplot as plt
data = pd.read_csv (r'C:\Users\Priyank\Kaggle_Data_Sets\02_Titanic\train.csv')

In [317]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,S_M,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,E_C,E_Q,E_S
0,1,0,3,"Braund, Mr. Owen Harris",male,1,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0,35.0,1,0,113803,53.1000,C123,S,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,1,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [318]:
data1 = data[['Survived','Pclass','S_M','Age','SibSp','Parch','Fare','E_C','E_Q','E_S']]

In [319]:
data1.isnull().sum()

Survived    0
Pclass      0
S_M         0
Age         0
SibSp       0
Parch       0
Fare        0
E_C         0
E_Q         0
E_S         0
dtype: int64

In [320]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 10 columns):
Survived    712 non-null int64
Pclass      712 non-null int64
S_M         712 non-null int64
Age         712 non-null float64
SibSp       712 non-null int64
Parch       712 non-null int64
Fare        712 non-null float64
E_C         712 non-null int64
E_Q         712 non-null int64
E_S         712 non-null int64
dtypes: float64(2), int64(8)
memory usage: 55.7 KB

In [321]:
data1.head()

   Survived  Pclass  S_M   Age  SibSp  Parch     Fare  E_C  E_Q  E_S
0         0       3    1  22.0      1      0   7.2500    0    0    1
1         1       1    0  38.0      1      0  71.2833    1    0    0
2         1       3    0  26.0      0      0   7.9250    0    0    1
3         1       1    0  35.0      1      0  53.1000    0    0    1
4         0       3    1  35.0      0      0   8.0500    0    0    1

In [322]:
#data1['Survived'] = pd.Categorical(data1.Survived)
#data1['Pclass'] = pd.Categorical(data1.Pclass)
#data1['Embarked'] = pd.Categorical(data1.Embarked)
data1 = data1.astype({"Survived":'category',
                      "Pclass":'category',
                      "S_M":'category',
                      "Age":'float',
                      "SibSp":'category',
                      "Parch":'category',
                      "Fare":'float',
                      "E_C":'category',
                      "E_Q":'category',
                      "E_S":'category'})

In [323]:
data1.dtypes

Survived    category
Pclass      category
S_M         category
Age          float64
SibSp       category
Parch       category
Fare         float64
E_C         category
E_Q         category
E_S         category
dtype: object

In [324]:
data1.head()

  Survived Pclass S_M   Age SibSp Parch     Fare E_C E_Q E_S
0        0      3   1  22.0     1     0   7.2500   0   0   1
1        1      1   0  38.0     1     0  71.2833   1   0   0
2        1      3   0  26.0     0     0   7.9250   0   0   1
3        1      1   0  35.0     1     0  53.1000   0   0   1
4        0      3   1  35.0     0     0   8.0500   0   0   1

In [325]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 10 columns):
Survived    712 non-null category
Pclass      712 non-null category
S_M         712 non-null category
Age         712 non-null float64
SibSp       712 non-null category
Parch       712 non-null category
Fare        712 non-null float64
E_C         712 non-null category
E_Q         712 non-null category
E_S         712 non-null category
dtypes: category(8), float64(2)
memory usage: 17.9 KB

In [326]:
# Drop na is no done as not that many issues there

In [327]:
data1['Survived'].value_counts()

0    424
1    288
Name: Survived, dtype: int64

In [328]:
# not that imbalanced...so balancing not required.

In [329]:
data1.groupby('Survived').mean()

                Age       Fare
Survived
0         30.626179  22.965456
1         28.193299  51.647672

In [330]:
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
#import statsmodels.api as sm
#from sklearn import metrics

In [331]:
x = data1.loc[:, data1.columns != 'Survived']
y = data1.loc[:, data1.columns == 'Survived']

In [332]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, train_size=0.6, random_state=0)
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

C:\Users\Priyank\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Priyank\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [333]:
y_pred = logreg.predict(x_test)
print('Accuracy of logistic regression classifier on test set: {:.3f}'.format(logreg.score(x_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.775

In [334]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[142  27]
 [ 37  79]]

In [335]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.84      0.82       169
           1       0.75      0.68      0.71       116

   micro avg       0.78      0.78      0.78       285
   macro avg       0.77      0.76      0.76       285
weighted avg       0.77      0.78      0.77       285

In [337]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
logit_roc_auc = roc_auc_score(y_test, logreg.predict(X_test))
fpr, tpr, thresholds = roc_curve(y_test, logreg.predict_proba(X_test)[:,1])
plt.figure()
plt.plot(fpr, tpr, label='Logistic Regression (area = %0.2f)' % logit_roc_auc)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Log_ROC')
plt.show()

ValueError: X has 3 features per sample; expecting 9